h2 {
    position: absolute;
    width: 997px;
    height: 73px;
    left: calc(50% - 997px/2 + 0.5px);
    top:1050px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #757575;
}